@font-face {
    font-family: happymonkey;
    src: url(font/HappyMonkey-Regular.ttf);
}

body {
    font-family: happymonkey;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffff72;
}

header h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
}

header nav {
    font-size: 24px;
}

header nav a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    font-weight: bold;
}

header nav a:hover {
    color: #007bff;
}

nav a {
    color: #333;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
    color: rgb(124, 207, 255);
}

.mainser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.imagecon {
    position: relative;
}

.profile {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 5px solid #ffff72;
    object-fit: cover;
    margin-right: 20px;
}

.texts {
    flex: 1;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: left;
}